---
const {name, value} = Astro.props
---

<li><span>{name}: </span><span>{value}</span></li>

<style is:global>
    li {
        margin: 0;
        padding: 0;
        /* display: flex;
        justify-content: space-between;
        align-items: center; */
        list-style-type: none;
    }
</style>